{% extends 'paciente/paciente.html' %}
{% load staticfiles %}

{% block links %}
  {{ block.super }}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Begin Page Content -->

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Detalles de Historias Medicas</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          {% if detalles %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Fecha</th>  
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for detalle in detalles %}
                    <tr>
                      <td>{{detalle.fecha}}</td>
                      <td>{{detalle.observaciones }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <h1>No hay elementos registrados</h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}

{% block estaticos %}
  {{ block.super }}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}